[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp
[submodule "libs/gli"]
	path = libs/gli
	url = https://github.com/g-truc/gli.git
[submodule "libs/ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
