build/
bin/
.vscode/
.cache/
.idea/
.cmake/
CMakeFiles/
Makefile
tutorial08/
Vulkan
lines.py
vendor/
imgui.ini
OpenSans-Light.ttf
resources/Learning Vulkan.pdf
CMakeCache.txt
cmake_install.cmake
shaders/glslc

# Visual Studio Files
debug/
.settings/
.vs/
cmake-build-debug/
x64/
.cproject
.project
CMakePresets.json
*.sln
*.vcxproj*